DISCORD_BOT_TOKEN=
STEAM_API_KEY=

BASE_SAVE_FILE=base_message.json
WARNINGS_FILE=warnings.json
BINDINGS_FILE=bindings.json
BLACKLIST_FILE=blacklist.json
GIVEAWAYS_FILE=giveaways.json
STATUS_MESSAGE_FILE=status_message.json
GMOD_WEBHOOK_SETTINGS_FILE=gmod_webhook_settings.json

WEB_DASHBOARD_HOST=0.0.0.0
WEB_DASHBOARD_PORT=8080
DISCORD_LOGO_URL=https://i.imgur.com/XUAp7MU.png

LOA_APPLICATIONS_CHANNEL_ID=1508499978253766866
LOA_PEOPLE_CHANNEL_ID=1508501143100194948
LOA_ROLE_ID=1508499680252793075
VERIFIED_ROLE_ID=1508503687411011755
GANG_MEMBER_ROLE_ID=1503498704278257775
STARTER_ROLE_ID=1486165333336260755
BOT_STATUS_CHANNEL_ID=1508529868277813398
BLACKLIST_CHANNEL_ID=1493910793295495258

GMOD_WEBHOOK_URL=
GMOD_LOG_FILE=C:\Program Files (x86)\Steam\steamapps\common\GarrysMod\garrysmod\console.log
PRINTER_WEBHOOK_URL=
PRINTER_COLLECTOR_NAME=TTVRecod
PRINTER_CUT_PERCENT=20
PAYOUT_WEBHOOK_URL=
PAYOUT_GIVER_NAME=TTVRecod
