.env
.env.*
!.env.example

__pycache__/
*.py[cod]
*$py.class

.venv/
venv/
env/

*.log
.DS_Store
Thumbs.db

base_message.json
warnings.json
bindings.json
blacklist.json
giveaways.json
status_message.json
gmod_webhook_settings.json
